-# frozen_string_literal: true
= simple_form_for(@user_profile) do |f|
  = error_messages_for @user_profile

  .form-inputs
    =f.input :username
    =f.input :status
    =f.input :avatar, direct_upload: true
  .form-actions
    = f.button :submit
