-# frozen_string_literal: true
= simple_form_for(@user_profile) do |f|
  = error_messages_for @user_profile

  .form-inputs
    %b=f.input :username
    %b=f.input :status
    %b=f.input :avatar, direct_upload: true
  .form-actions
    = f.button :submit, class: "btn btn-lg btn-success"
