.container
  .card.mb-4
    .card-body
      %div
        %b
          %h3
            Username:
            = @user_profile.username
      %div
        %b
          %h3
            Status:
            = @user_profile.status

  %span.mr-2= link_to 'Edit', edit_user_profile_path(@user_profile), class: 'btn btn-lg btn-warning'

