%header
  .nav.navbar.navbar-expand-xl.font-italic.navbar-light.mb-4
    .container-fluid
      .navbar-brand.mr-4
        -#%span= image_tag("mephi_logo.png", :alt => "НИЯУ МИФИ", class: "logo")
        =link_to root_path, class: 'h3' do
          =t('app.title')
      %button.navbar-toggler{type: "button", data: {toggle: 'collapse', target: '#navbar'}}
        =icon 'fas',  "bars"
      #navbar.collapse.navbar-collapse
        .navbar-nav.mr-auto
          -if Section.all.any?
            .nav-item.dropdown
              =link_to  ?#, class: 'nav-link dropdown-toggle text-nowrap my-auto h5', data: {toggle: 'dropdown'} do
                =t( 'sections.sections')
              .dropdown-menu.dropdown-menu-right
                -Section.all.each do |x|
                  =link_to x.name,articles_path(section: x.id), class: 'dropdown-item h6'
        -if current_user
          .navbar-nav.my-1
            .nav-item.dropdown
              =link_to ?#, class: 'nav-link dropdown-toggle text-nowrap my-auto h5', data: {toggle: 'dropdown'} do
                -if current_user.user_profile.present?
                  -if current_user.user_profile.avatar.attached?
                    %span=image_tag current_user.user_profile.avatar, class: 'icon'
                  =current_user.user_profile.username
                -else
                  =current_user.email
              .dropdown-menu.dropdown-menu-right
                =link_to t('user_profile.my_account'), current_user.user_profile, class: 'dropdown-item h5'
                =link_to t('sessions.logout.btn'), destroy_user_session_path,method: :delete,  class: 'dropdown-item h5'

        -else
          .button-group
            =link_to new_user_session_path, class: 'btn btn-outline-primary' do
              =t('helpers.sign_in')
            =link_to new_user_registration_url, class: 'btn btn-outline-primary' do
              =t('helpers.sign_up')
