%header.mb-4
  .nav.navbar.navbar-expand-xl.font-italic.navbar-light
    .container-fluid
      .navbar-brand.mr-4
        -#%span= image_tag("mephi_logo.png", :alt => "НИЯУ МИФИ", class: "logo")
        =link_to root_path, class: 'h1' do
          =t('app.hack_and_protect')
      %button.navbar-toggler{type: "button", data: {toggle: 'collapse', target: '#navbar'}}
        =icon 'fas',  "bars"
      #navbar.collapse.navbar-collapse
        .navbar-nav.mr-auto
          =link_to articles_path, class: 'btn nav-item mx-3' do
            %span.h5=icon('far', 'newspaper')
            %span.h5=t('articles.feed')
          -if Section.all.any?
            %span.nav-item.dropdown
              =link_to  ?#, class: 'mx-3 black nav-link dropdown-toggle  my-auto text-center', data: {toggle: 'dropdown'} do
                %span.h5=t( 'sections.sections')
              .dropdown-menu.dropdown-menu-right
                -Section.all.each do |x|
                  =link_to x.name,articles_path(section: x.id), class: 'dropdown-item h6 text-center'
          = link_to about_path, class: 'btn mx-3' do
            %span.h5= t('helpers.about_mes')
            %span.h5=icon('fab', 'phoenix-framework')
          -if current_user
            =link_to favorite_articles_path, class: 'btn mx-3' do
              %span.h5= t('articles.favorite_articles')
              %span.h5=icon('far', 'star')
        -if current_user
          .navbar-nav.my-1
            .nav-item.dropdown.text-center
              =link_to ?#, class: 'nav-link dropdown-toggle text-nowrap my-auto h5', data: {toggle: 'dropdown'} do
                -if current_user.user_profile.present?
                  -if current_user.user_profile.avatar.attached?
                    %span=image_tag current_user.user_profile.avatar, class: 'icon'
                  =current_user.user_profile.username
                -else
                  =current_user.email
              .dropdown-menu.dropdown-menu-right
                =link_to current_user.user_profile, class: 'dropdown-item h5' do
                  =icon('far', 'user')
                  =t('user_profile.my_account')
                =link_to destroy_user_session_path, method: :delete,  class: 'dropdown-item h5' do
                  =icon('fas', 'sign-out-alt')
                  =t('sessions.logout.btn')

        -else
          .button-groupnewspaper
            =link_to new_user_session_path, class: 'btn btn-outline-primary mr-1' do
              =icon('fas', 'sign-in-alt')
              =t('helpers.sign_in')
            =link_to new_user_registration_url, class: 'btn btn-outline-primary' do
              =icon('fas', 'user-plus')
              =t('helpers.sign_up')
